body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0003b1;
  }
  
  header {
    background-color: #111;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    padding: 20px;
  }
  
  .games-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex: 2;
  }
  
  .game {
    background: rgb(187, 187, 199);
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
  }
  
  .game img {
    width: 100%;
    height: auto;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .cart {
    background-color: #fff;
    padding: 20px;
    margin-left: 30px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 5px #ccc;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
